<h1>Categories</h1>
<ul>
  <% @groups.each_with_index do |group, index| %>
    <li>
      <%= link_to group_operations_path(group) do%>
        <p><%= group.name %></p>
        <p></p>
      <% end %>
    </li>
  <% end %>
</ul>
<div>
  <button><%= link_to 'New Category', new_group_path %></button>
</div>
